body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
    height: 600px;
}
.col-3{
    width: 33.33%;
    height: 150px;
    background: red;
    float: left;
}
.col{
    width: 100%;
    float: left;
    background: green;
    height: 150px;
}
.col-6{
    width: 50%;
    float: left;
    background: #286328;
    height: 150px;
}
.col-8{
    width: 70%;
    float: left;
    background: green;
    height: 150px;
}
.col-2{
    width: 15%;
    float: left;
    background: #424a42;
    height: 150px;
}
.color-1{
	background-color: #99f0e1;
}
.color-2{
	background-color: #5bd8c2;
}
.color-3{
	background-color: #00fcd0;
}
.color-4{
	background-color: #8776c6;
}
.color-5{
	background-color: #584c87;
}